  .hesapmakinesi {
      font-size: large;
      margin: 0 auto;
      width: 360px;
      height: auto;
      background-color: slategray;
      border-radius: 5px;
      padding: 10px;
  }

  .big_button {
      font-size: large;
      margin: auto;
      margin-bottom: 5px;
      width: 100px;
      height: 70px;
      background-color: gray;
      border-radius: 5px;
      border-width: 3px;
  }

  .small_button {
      font-size: large;
      margin: auto;
      margin-bottom: 5px;
      width: 45px;
      height: 70px;
      background-color: gray;
      border-radius: 5px;
      border-width: 3px;
  }